{% extends 'index.html' %}

{% block head %}
<meta charset="UTF-8">
<title>log_in</title>
{% endblock %}

{% block body %}
<div>
	<form action="/login" method="post">
	<dl>
		<dt>email</dt>
		<dd><input class="form-control" id="exampleInputEmail1" placeholder="Enter email" type='email' name='email'></dd>
		<dt>password</dt>
		<dd><input class="form-control" id="exampleInputPassword1" placeholder="Password" type='password' name='password'></dd>
		<dd><input class="btn btn-default" type='submit' value='login'></dd>
	</dl>
	</form>
</div>
{% endblock %}
