{% extends 'index.html' %}

{% block head %}
	<meta charset="UTF-8">
	<title>sign_up</title>
{% endblock %}

{% block body %}
	<div>
		<form action="/signup" method="post">
		<dl>
			{% if form %}

			{{ form.hidden_tag() }}

			{% if form.errors %}
				<div class='alert alert-danger fade-in'>
					<a href='#' class='close' data-dismiss='alert'>&times;</a>
					{% for field, errors in form.errors.items() %}
						<ul>
							{% for error in errors %}
							<li>
								{{ error }}
							</li>
							{% endfor %}
						</ul>
					{% endfor %}
				</div>
			{% endif %}

			{% if signup_error %}
				<div class='alert alert-danger fade-in'>
					<a href='#' class='close' data-dismiss='alert'>&times;</a>
					{{ signup_error }}
				</div>
			{% endif %}
			
			{% for field in form if field.widget.input_type != 'hidden' %}

			<div class='form-group{% if field.errors %} has-error {% endif %}'>
				<label for='{{ field.id }}'>{{ field.label }}</label>
				{{ field(class='form-control', placeholder=field.description.placeholder) }}

				{% if field.errors %}
				<div class='help-block'>
					<ul>
						{% for error in field.errors %}
						<li>
							{{ error }}
						</li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
			</div>
			{% endfor %}

		{% endif %}
			<dt>username</dt>
			<dd><input class='form-control' id='InputUsername' placeholder='Username' type='text' name='username' required/></dd>
			<dt>mobile</dt>
			<dd><input class='form-control' id='InputMobile' placeholder='Mobile' type='tel' name='mobile' required/></dd>
			<dt>gender</dt>
			<dd><input type='radio' name='gender' value='female' checked/>Female<input type='radio' name='gender' value='male'/>Male</dd>
			<dt>birthday</dt>
			<dd><input class='form-control' id='InputBirthday' placeholder='Birthday' type='date' name='birthday' required/></dd>
			<dd><input class="btn btn-default" type='submit' value='signup'/></dd>
		</dl>
	</form>
	</div>
{% endblock %}