{% extends 'index.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/timeline.css') }}">
{% endblock %}

{% block body %}
<div class='row'>
</div>
<div style = 'text-align : center'>
	<form action='/timeline/{{wall_owner.id}}', method='post'>
		<dl>
			<dd><textarea rows=5 cols=40 name='post-content' placeholder='write your comments.'></textarea></dd>
			<dd><input type="checkbox" name="is-secret-post" value="Secret">Secret</dd>
			<dd><input class='btn btn-default' type='submit' value='post to {{wall_owner.username}}'></dd>
		</dl>
	</form>

{% for post in posts %}
	<div class='post-element'>
		{{ post|safe }}
	</div>
{% endfor %}

{% endblock %}